table.flights {
    background-image: url('..\\images\\Plane-4K.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

table.flights tbody tr {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

body {
    background-image: url('https://i.pinimg.com/originals/dd/91/4c/dd914c6cca076f8cebb463a81e73e7e5.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}